<!--Breadcump-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <div class="row title-breadcump">
            <div class="col-sm-8 row btn-sync">
                <h2>Certificado</h2>
            </div>
            <div class="col-sm-4 text-right  btn-sync">
                <button class="btn-question"><a [href]="urlHelp" target="_blank" title="Ayuda"><i class="fa fa-question"></i></a></button>
                <button (click)="reload()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <ol class="breadcrumb">
            <li>
                <a>Perfil</a>
            </li>
            <li class="active">
                <a><strong>Certificado</strong></a>
            </li>
        </ol>
    </div>
</div>

<!--TAB CERTIFICADO-->
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Certificado</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" (click)="collapsed=!collapsed">
                            <i class="fa" [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i>
                        </a>
                    </div>
                    <div class="ibox-content" [hidden]="collapsed">
                        <form method="get" class="form-horizontal" [formGroup]="certificadoForm">

                            <div class="row text-right">

                                <div class="col-sm-12" *ngIf="mostrarGenerar">
                                    <button [disabled]="loading" class="btn btn-primary"
                                        (click)="agregarFila()">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        Generar nuevo
                                    </button>
                                    <!-- <button class="btn btn-danger" (click)="cancelarFila()">Cancelar</button> -->
                                </div>
                                <div class="col-sm-12" style="text-align: left;" *ngIf="!mostrarGenerar">
                                    <div class="alert alert-warning">
                                        <a class="alert-link" href="#">¡Atención!</a><br>
                                        Es servicio es para matriculados activos.
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="hr-line-dashed"></div>
                        <div class="row container-action-table">
                            <app-action-table [columnas]="columnnas"
                                              [filas]="filas"
                                              [permiteVisualizar]="false"
                                              [permiteEditar]="false"
                                              [permiteEliminar]="false"
                                              [permitePersonalizado]="true"
                                              [configButton]="{icon:'fa fa-download', tooltip: 'Descargar'}"
                                              (personalizado)="imprimirCertificado($event)"> 
                            </app-action-table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FIN TAB CERTIFICADO-->