<!--Breadcump-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Usuario</h2>
        <ol class="breadcrumb">
            <li>
                <a>Seguridad</a>
            </li>
            <li class="active">
                <a><strong>Usuario</strong></a>
            </li>
        </ol>
    </div>
</div>

<!--TAB USUARIO-->
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Usuario</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" (click)="collapsed=!collapsed">
                            <i class="fa" [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" [hidden]="collapsed">
                    <form method="get" class="form-horizontal" [formGroup]="usuarioForm">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Usuario:</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" formControlName="username"
                                            maxlength="30" placeholder="Usuario">
                                        <form-error [errors]="usuarioForm.controls.username.errors"
                                            [errorsMessages]="{
                                              required: 'Campo Requerido',
                                              minlength: 'La longitud debe ser mayor a 6 caracteres',
                                              maxlength: 'La longitud debe ser menor a 30 caracteres',
                                              pattern: 'Formato de usuario no válido'
                                            }" [controlTouched]="usuarioForm.controls.username.touched">
                                        </form-error>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="actions-buttons col-sm-offset-8 col-sm-4 text-right">
                                <button [disabled]="loading"
                                        class="btn btn-primary"
                                        (click)="onSave()">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Guardar
                                </button>
                                <button class="btn btn-danger" (click)="cancelarFila()">Cancelar</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--FIN TAB USUARIO-->

</div>