<div class="container pt-4">

  <!-- Header -->
  <app-header-home></app-header-home>
  <app-button-home></app-button-home>

  <!-- Title -->
  <h6 class="border-bottom title-sections pb-1"><a>BOLETINES</a></h6>

  <!-- Content -->
  <div class="container p-0 pt-2 pb-5" *ngIf="loader === false">
    <section>
      <div class="row">

        <!-- Filter -->
        <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 flitrosnoticias ">
          <ol>
            <li>
              <label (click)="filter('todos')" [ngClass]="{ 'selected': tag === 'todos' }">Todos</label>
            </li>
          </ol>
          <ol>
            <li>
              <h6 class="p-1">FECHA</h6>
            </li>
            <li>
              <label (click)="filter('hoy')" [ngClass]="{ 'selected': tag === 'hoy' }">Hoy</label>
            </li>
            <li>
              <label (click)="filter('semana')" [ngClass]="{ 'selected': tag === 'semana' }">Esta semana</label>
            </li>
            <li>
              <label (click)="filter('mes')" [ngClass]="{ 'selected': tag === 'mes' }">Este mes</label>
            </li>
            <li>
              <label (click)="filter('ano')" [ngClass]="{ 'selected': tag === 'ano' }">Este año</label>
            </li>
            <li>
              <label (click)="filter('2ano')" [ngClass]="{ 'selected': tag === '2ano' }">Últimos dos años</label>
            </li>
          </ol>
        </div>

        <!-- Articles -->
        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 posts ">
          <ng-template #noBoletines>
            <h1>No se han encontrado resultados.</h1>
          </ng-template>
          <ul class="list-unstyled" *ngIf="boletines.length > 0; else noBoletines">
            <ng-container *ngFor="let boletin of boletines; let i = index">
              <li class="post" appContentView (elementVisible)="getPage($event)"
                [isTargetElement]="i == boletines.length - 1">
                <a [href]="boletin.urlContenido" target="_blank">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                      <div class="container p-0 pt-2 pb-5">
                        <div class="row">
                          <div class="col-12 col-sm-12">
                            <article>
                              <h5>#{{ boletin.numero }} - {{ boletin.fechaEnvioString }} - {{ boletin.titulo }} </h5>
                            </article>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </section>
  </div>

  <!-- Publicity -->
  <app-publicity-home></app-publicity-home>
  <!-- Footer -->
  <app-footer></app-footer>

</div>