<!--Breadcump-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Teléfonos</h2>
        <ol class="breadcrumb">
            <li>
                <a>Panel de control</a>
            </li>
            <li>
                <a>Perfil</a>
            </li>
            <li class="active">
                <a><strong>Teléfonos</strong></a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Telefonos</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" (click)="collapsed=!collapsed">
                            <i class="fa" [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" [hidden]="collapsed">
                    <form method="get" class="form-horizontal" [formGroup]="telefonoForm">
                        <div class="row">
                            <div class="col-md-8 col-sm-offset-2">
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <label class="col-sm-4 control-label">Tipo:</label>
                                        <div class="col-sm-8">
                                            <div *ngIf="(tipos$ | async) as telTypes">
                                                <select id="countries" formControlName="idTipoTelefono"
                                                    class="identification-select browser-default custom-select">
                                                    <option *ngFor="let type of telTypes" [value]="type.id">
                                                        {{ type.descripcion }}</option>
                                                </select>
                                                <form-error [errors]="telefonoForm.controls.idTipoTelefono.errors"
                                                    [errorsMessages]="{
                                                        required: 'Campo Requerido'
                                                        }"
                                                    [controlTouched]="telefonoForm.controls.idTipoTelefono.touched">
                                                </form-error>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="col-sm-4 control-label">Numero:</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" mask="0000000000"
                                                formControlName="telefono">
                                            <form-error [errors]="telefonoForm.controls.telefono.errors"
                                                [errorsMessages]="{
                                                required: 'Campo Requerido',
                                                minlength: 'La longitud debe ser de 10 digitos.',
                                                maxlength: 'La longitud debe ser de 10 digitos.'
                                            }" [controlTouched]="telefonoForm.controls.telefono.touched">
                                            </form-error>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-offset-2">&nbsp;</div>
                                            <div class="col-sm-4 text-right">
                                                <button class="btn btn-primary" (click)="agregarFila()"
                                                    *ngIf="!f.id.value">Agregar</button>
                                                <button class="btn btn-primary" (click)="editarFila()"
                                                    *ngIf="f.id.value">Editar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>

                        <div class="row">
                            <div class="col-sm-12">
                                <app-action-table [columnas]="columnnas" [filas]="filas" (editar)="onEditar($event)"
                                    (eliminar)="onEliminar($event)" (visualizar)="onVisualizar($event)">
                                </app-action-table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>