@import '../.././../../gestion.css';
.telefono-select {
    height: calc(1em + 1.75rem + 2px);
    font-size: 14px;
    padding: 6px 12px;
 }

.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
 }
 .error-text {
    color: red;
 }

 .container-action-table {
     overflow-x: auto;
 }
 .telefono-select.ng-invalid.ng-touched {
    border: 1px solid red;
 }