<!--Breadcump-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <div class="row title-breadcump">
            <div class="col-sm-8 row btn-sync">
                <h2>Resumen</h2>
                <button (click)="reload()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <ol class="breadcrumb">
            <li>
                <a>Matrícula</a>
            </li>
            <li class="active">
                <a><strong>Resumen</strong></a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Resumen</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" (click)="collapsed=!collapsed">
                            <i class="fa" [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" [hidden]="collapsed">
                    <div class="row container-action-table">
                        <div class="container table">
                            <div class="row">
                              <div class="col-12">
                                <table class="table table-bordered">
                                  <tbody>
                                    <tr>
                                        <td>Tipo de matrícula</td>
                                        <td>{{resumen.matriculaTipo}}</td>
                                    </tr>
                                    <tr>
                                        <td>Número de matrícula</td>
                                        <td>{{resumen.numero}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de matriculación</td>
                                        <td>{{resumen.fechaMatriculacion}}</td>
                                    </tr>
                                    <tr>
                                        <td>Estado</td>
                                        <td>{{resumen.estado}}</td>
                                    </tr>
                                    <tr>
                                        <td>Universidad</td>
                                        <td>{{resumen.universidad}}</td>
                                    </tr>
                                    <tr>
                                        <td>Fecha de egreso</td>
                                        <td>{{resumen.fechaEgreso}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>