<div class="row custom-control" style="padding:0px 10px !important;">
    <label class="headersmalltext">{{allData.name}}<span *ngIf="allData.required === true">&nbsp;*</span></label>
    <div *ngIf="parentGroup.controls[id].invalid && (parentGroup.controls[id].dirty || parentGroup.controls[id].touched)" style="display: inline;">
        <small
            class="alert-warning ml-1"
            *ngIf="parentGroup?.controls[id].errors.required"
            [hidden]='!parentGroup?.controls[id].errors && !parentGroup?.controls[id].errors.required'>
            Dato obligatorio
        </small>
    </div>
    <textarea 
                [(ngModel)]="value"
                style="margin-top: 5px;"
                [ngClass]="{'input-error': parentGroup.controls[id].invalid && (parentGroup.controls[id].dirty || parentGroup.controls[id].touched)}"
                [id]="id"
                [name]="id"
                [disabled]="disabled"
                [hidden]="disabled"
                (blur)="onTouch()"
                [placeholder]="placeholder">
    </textarea>
</div>