<aside >
    <div class="row">
        <div class="col-sm col-md col-lg col-xl ">
            <div class="container py-3 border-top">
                <div class="top-content">
                    <div class="container-fluid">
                        <div class="carousel slide" data-ride="myCarousel">
                            <div class="carousel-inner" role="listbox">
                                <owl-carousel [options]="SlideOptions"
                                                [items]="banners"
                                                class="item"
                                                [carouselClasses]="['owl-theme', 'sliding']" #owlElement> 
                                    <div *ngFor="let banner of banners; let index = index; let last = last" >
                                        <div style="align-content: center">  
                                                <a href="{{banner.urlLink}}" target="_blank" title="{{banner.campaign}}">
                                                    <figure><img src="{{banner.urlImage}}" class="img-responsive" alt="{{banner.campaign}}" /></figure>
                                                </a> 
                                        </div>  
                                    </div> 
                                </owl-carousel>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </aside>