<aside >
    <div class="row">
        <div class="col-sm col-md col-lg col-xl ">
            <div class="container py-3 border-top" style="max-height: 90px;">
                <div class="top-content">
                    <div class="container-fluid">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div *ngFor="let banner of banners; let index = index; let last = last" 
                                     [class.active]="index == 0"
                                     class="item">
                                     <div class="col-xs-3 margenes-banner">
                                       <a href="{{banner.urlLink}}" target="_blank" title="{{banner.campaign}}">
                                           <figure><img src="{{banner.urlImage}}" class="img-responsive" alt="{{banner.campaign}}" /></figure>
                                       </a>
                                     </div>
                                    <div class="d-none" *ngIf="messagesRendered(last)"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>