@import '../.././../../gestion.css';


.mail-select {
        height: calc(1em + 1.75rem + 2px);
        font-size: 14px;
        padding: 6px 12px;
}

.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
 }
 .error-text {
    color: red;
 }
 .mail-select.ng-invalid.ng-touched {
    border: 1px solid red;
 }