<!--PUBLICIDAD-->
<aside>
    <div class="row">
        <div class="col-sm col-md col-lg col-xl ">
            <div class="container py-3 border-top">
                <!-- Top content -->
                <div class="top-content">
                    <div class="container-fluid">
                        <div id="carousel-example" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner row w-100 mx-auto" role="listbox">
                                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-3 active adv">
                                    <a href="#" target="_blank" title="UNICER">
                                        <figure><img src="http://static.cpau.org/.newsite/images/publicidad/p1.jpg" class="img-fluid mx-auto d-block" alt="UNICER" /></figure>
                                    </a>
                                </div>
                                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-3 adv">
                                    <a href="https://www.unicer.com.ar/" target="_blank" title="ENAS">
                                        <figure><img src="http://static.cpau.org/.newsite/images/publicidad/p2.jpg" class="img-fluid mx-auto d-block" alt="ENAS" /></figure>
                                    </a>
                                </div>
                                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-3 adv">
                                    <a href="http://www.conceptoyluz.com.ar/" target="_blank" title="concepto & luz">
                                        <figure><img src="http://static.cpau.org/.newsite/images/publicidad/p3.jpg" class="img-fluid mx-auto d-block" alt="concepto & luz" /></figure>
                                    </a>
                                </div>
                                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-3 adv">
                                    <a href="https://www.easy.com.ar" target="_blank" title="EASY">
                                        <figure><img src="http://static.cpau.org/.newsite/images/publicidad/p4.jpg" class="img-fluid mx-auto d-block" alt="EASY" /></figure>
                                    </a>
                                </div>
                                <div class="carousel-item col-12 col-sm-6 col-md-6 col-lg-3 adv">
                                    <a href="https://www.ieric.org.ar/" target="_blank" title="IERIC">
                                        <figure><img src="http://static.cpau.org/.newsite/images/publicidad/p5.jpg" class="img-fluid mx-auto d-block" alt="IERIC" /></figure>
                                    </a>
                                </div>
                            </div>
                            <!--            <a class="carousel-control-prev" href="#carousel-example" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
<!--FIN PUBLICIDAD-->