@import './../../gestion.css';

.form-control.ng-invalid.ng-touched {
    border: 1px solid red;
 }
 .error-text {
    color: red;
 }

 .container-action-table {
     overflow-x: auto;
 }
 button {
    margin-right: 5px;
 }