<!--Breadcump-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <div class="row title-breadcump">
            <div class="col-sm-8 row btn-sync">
                <h2>Actividad profesional</h2>
            </div>
            <div class="col-sm-4 text-right  btn-sync">
                <button class="btn-question"><a [href]="urlHelp" target="_blank" title="Ayuda"><i class="fa fa-question"></i></a></button>
                <button (click)="reload()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <ol class="breadcrumb">
            <li>
                <a>Oferta de servicios</a>
            </li>
            <li class="active">
                <a><strong>Actividad profesional</strong></a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <form method="get" class="form-horizontal" [formGroup]="actividadForm">
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Actividad profesional</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" (click)="collapsed=!collapsed">
                            <i class="fa" [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" [hidden]="collapsed">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <div class="col-sm-12 title">
                                        <span class="title-checkbox">
                                            Tildá la o las actividades en la que te desarrollás como profesional
                                        </span>
                                    </div>


                                    <div class="col-md-12" style="float:left;">
                                        <div class=" checkbox-list">
                                            <ng-container *ngIf="actividadProfesionalData">

                                                <app-checkbox-list [form]="actividadForm"
                                                    [checkboxData]="actividadProfesionalData"
                                                    [controlName]="'actividad'">
                                                </app-checkbox-list>
                                            </ng-container>    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Tipo de obra realizada</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" (click)="collapsed2=!collapsed2">
                            <i class="fa" [ngClass]="{'fa-chevron-down': !collapsed2, 'fa-chevron-up': collapsed2}"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" [hidden]="collapsed2">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">

                                    <div class="col-sm-12 title">
                                        <span class="title-checkbox">
                                            Tildá el o los tipos de obras que realizaste como profesional
                                        </span>
                                    </div>

                                    <div class="col-md-12 checkbox-list">
                                        <ng-container *ngIf="obrasData">

                                            <app-checkbox-list [form]="actividadForm" [checkboxData]="obrasData"
                                                [controlName]="'obra'">
                                            </app-checkbox-list>
                                        </ng-container>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row content-buttons">
        <div class="actions-buttons text-right">
            <button [disabled]="loading" class="btn btn-primary" (click)="onSave()">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Guardar
            </button>
            <button class="btn btn-danger" (click)="cancelarFila()">Cancelar</button>
        </div>
    </div>
    <div class="hr-line-dashed"></div>
    </form>
</div>