@import '../.././../../gestion.css';


.title {
    height: 40px;
    display: flex;
    align-items: center; 
}
.title .title-checkbox {
    font-weight: 600;
}

.checkbox-list {
    display: flex;
    flex-direction: column;
    max-height: 50%;
}
button {
    margin-right: 5px;
 }
 .content-buttons {
    margin: auto;
    padding-bottom: 1%;
 }
 .content-checkboxs {
    overflow-y: hidden;
    overflow-x: auto;
 }