<div class="form">
    <div class="container p-5">
        <!--Fila Logo-->
        <div class="row bk6 p-4 shadow" style="border-top: 4px solid #000;">
            <!--Columna Logo-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <a href="#" target="_self" title="CPAU | Consejo Profesional de Arquitectura y Urbanismo">
                    <figure><img src="../../stylesCustom/images/logo/logocpau.jpg" width="35%;" height="auto" alt="CPAU | Consejo Profesional de Arquitectura y Urbanismo" /></figure>
                </a>
            </div>
            <!--Columna Logo: fin-->
        </div>
        <!--Fila Logo: fin-->
        <ng-container [ngSwitch]="error">
            <div *ngSwitchCase="'UNM'">
                <p>Debe ser matriculado para poder acceder al formulario.</p>
            </div>
            <div *ngSwitchCase="'YISC'">
                <p>Usted ya se encuentra registrado en esta inscripción.</p>
            </div>
            <div *ngSwitchCase="'UB'">
                <p>
                    Tu usuario no cumple con las condiciones de inscripción.
                    <br>
                    Ante cualquier consulta comunicate con capacitacion@cpau.org.
                </p>
            </div>
            <div *ngSwitchCase="'YISC'">
                <p>Usted ya se encuentra registrado en esta inscripción.</p>
            </div>
            <div *ngSwitchCase="'NVNP'">
                <p>El formulario no se encuentra disponible.</p>
            </div>
            <div *ngSwitchCase="'CL'">
                <p>Lamentablemente el cupo para esta actividad se completó.</p>
            </div>
            <div *ngSwitchCase="'YISCLE'">
                <p>
                    Muchas gracias, ya formás parte de la lista de espera
                    <br>
                    Si se produce una vacante te avisaremos inmediatamente a tu cuenta de correo electrónico
                    <br>
                    Agradecemos tu interés.
                </p>
            </div>
        
            <div *ngSwitchCase="error === null || error ==='LE'? error : ' ' ">
                <div *ngIf="errorLE == true">
                    <p>Lamentablemente el cupo para esta actividad se completó.<br>Podés ingresar a la lista de espera.<br><br>Muchas gracias</p>
                    <button (click)="onShowForm()">Mostrar formulario para lista de espera</button>
                </div>
                <div *ngIf="showForm">
                    <img [src]="response?.data?.headerImage" height="auto" width="100%">
                    <div class="row bk6 p-4 shadow">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bk6">
                            <div>
                                <h3 class="border-bottom title-sections pb-1" [innerHTML]="response?.data?.name"></h3>
                                <h6 class="pt-2 pb-2" [innerHTML]="response?.data?.description"></h6>
                                <p [innerHTML]="response?.data?.remarks"></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row bk6 shadow" *ngIf="showForm">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bk6">
                            <div class="col-12 col-sm-12 col-md-10 offset-md-1">
                                <div *ngFor="let item of fields">
                                    <dynamic-component
                                    [data]="item" 
                                    [parentGroup]="form"
                                    (onChangeComponent)="changeEmit($event)"
                                    >
                                    </dynamic-component>
                                </div>
                                <div class="form-group recaptcha col-sm-6">
                                    <re-captcha (resolved)="resolved($event)" siteKey="{{siteKey}}"></re-captcha>
                                </div>
                                <div class="form-group">
                                    <button [disabled]="(captcha === null || false) || !form.valid" type="button" class="btn btn-login" (click)="onClick()">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="messageLE">
            <p>
                Muchas gracias, ya formas parte de la lista de espera.
            </p>
        </div>
        <footer>
            <!--COPYRIGHT-->
            <div class="row shadow pt-3 bk6">
                <div class="col-sm pt-3" style="background-color:#C8C3C3; text-align: center;font-size:11px; font-weight: 700 ">
                    <p>© CPAU | Consejo Profesional de Arquitectura y Urbanismo - 25 de Mayo 482 - (C1002ABJ) CABA - Tel: +54 (11) 5239.9401 - Atención: Lunes a Viernes de 9 a 17 horas.</p>
                </div>
            </div>
            <!--FIN COPYRIGHT-->
            <!--FIN PIE-->
        </footer>
    </div>
</div>

<!-- asdasd  -->

<div style="background: transparent;"  class="inscripcion" data-ng-show="item.isOpen() && item.hasQuota() || item.waitingList">
    <div class="inscripcioncontent">

        <div class="row bk6 p-4 " style="margin-top: -10px; margin-left: -30px; background-color: transparent; margin-right: -40px;" data-ng-show="item.isOpen()">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div>
                    <img src="{{item.headerImage}}" width="100%" />
                </div>
            </div>
        </div>

        <h1 class="pt-2 pb-2 inscripciontitle" data-ng-show="item.showTitle">{{item.name}}</h1>
        <div class="inscripcionsubtitle" data-ng-bind-html="item.description"></div>

        <div class="inscripcionaclaraciones" data-ng-show="!item.isPublished" style="margin-left: 15px;">
            <p>Este formulario no se encuentra habilitado.</p>
        </div>

        <div class="inscripcionaclaraciones" data-ng-show="item.remarks && item.isPublished">
            {{item.remarks}}
        </div>

        <div data-ng-show="item.hasQuota && item.isPublished">

            <form name="myForm" id="myForm" style="padding-top:1px">

                <div class="formfieldsreadonly" data-ng-show="item.validateUser && item.showUserData" style="padding: 15px 15px; position: relative;">

                    <div data-ng-show="item.allowUpdates">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="headersmalltext">Nombres:<span>&nbsp;*</span></label>
                                <input type="text" name="field-firstName" data-ng-model="name.data2" data-ng-required="" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="headersmalltext">Apellidos:<span>&nbsp;*</span></label>
                                <input type="text" name="field-lastName" data-ng-model="name.data3" data-ng-required="" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="headersmalltext">Email:<span>&nbsp;*</span></label>
                                <input type="email" name="field-email" data-ng-model="email.data1" data-ng-required="" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label class="headersmalltext">Celular:<span>&nbsp;*</span></label>
                                <input type="text" name="field-mobilePhone" data-ng-model="mobilePhone.data1" data-ng-required="" class="form-control">
                            </div>
                            <div class="col-md-6">
                                <label class="headersmalltext">Tel&eacute;fono:<span></span></label>
                                <input type="text" name="field-phone" data-ng-model="phone.data1" data-ng-required="" class="form-control">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" style="display: table-cell;">
                                        <span class="headersmalltext">Calle</span>
                                        <input type="text" name="postalAddress.street" data-ng-model="postalAddress.data3"
                                               data-ng-enabled="item.allowUpdates" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        <span class="headersmalltext">Altura</span>
                                        <input type="text" name="postalAddress.street1" data-ng-model="postalAddress.data4"
                                               data-ng-enabled="item.allowUpdates" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        <span class="headersmalltext">Piso</span>
                                        <input type="text" name="postalAddress.floor" data-ng-model="postalAddress.data5"
                                               data-ng-enabled="item.allowUpdates" class="form-control" />
                                    </div>
                                    <div class="col-md-2">
                                        <span class="headersmalltext">Dpto.</span>
                                        <input type="text" name="postalAddress.appartment" data-ng-model="postalAddress.data6"
                                               data-ng-enabled="item.allowUpdates" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6" style="display: table-cell;">
                                        <span class="headersmalltext">Localidad</span>
                                        <input type="text" name="postalAddress.city" data-ng-model="postalAddress.data7"
                                               data-ng-enabled="item.allowUpdates" class="form-control" />
                                    </div>
                                    <div class="col-md-6">
                                        <span class="headersmalltext">Provincia</span>
                                        <input type="text" name="postalAddress.state" data-ng-model="postalAddress.data8"
                                               data-ng-enabled="item.allowUpdates" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="margin-top: 14px;">
                    <div data-ng-repeat="field in item.fields" style="padding: 0 15px; position: relative;">
                        <div data-ng-form-builder-field="" data-field="field" style="margin-bottom: 15px;"></div>
                    </div>
                </div>
            </form>
                <div style="padding: 0 14.6px !important;">

                <button class="btn btn-secondary" style="padding-top:7px !important; padding-bottom:7px !important;" type="button" data-ng-disabled="!myForm.$valid&&!item.allowSubmit" data-ng-click="submit()">Enviar</button>
            </div>
        </div>
    </div>
</div>


