<div class="form">
    <div class="container p-5">
        <!--Fila Logo-->
        <div class="row bk6 p-4 shadow" style="border-top: 4px solid #000;">
            <!--Columna Logo-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <a href="#" target="_self" title="CPAU | Consejo Profesional de Arquitectura y Urbanismo">
                    <figure><img src="../../stylesCustom/images/logo/logocpau.jpg" width="35%;" height="auto" alt="CPAU | Consejo Profesional de Arquitectura y Urbanismo" /></figure>
                </a>
            </div>
            <!--Columna Logo: fin-->
        </div>
        <!--Fila Logo: fin-->
        <ng-container [ngSwitch]="error">
            <div *ngSwitchCase="'YISC'">
                <p>Usted ya se encuentra registrado en esta inscripción.</p>
            </div>
            <div *ngSwitchCase="'UB'">
                <p>
                    Tu usuario no cumple con las condiciones de inscripción.
                    <br>
                    Ante cualquier consulta comunicate con capacitacion@cpau.org.
                </p>
            </div>
            <div *ngSwitchCase="'NVNP'">
                <p>El formulario no se encuentra disponible.</p>
            </div>
            <div *ngSwitchCase="'CL'">
                <p>Lamentablemente el cupo para esta actividad se completó.</p>
            </div>
            <div *ngSwitchCase="'YISCLE'">
                <p>
                    Muchas gracias, ya formás parte de la lista de espera
                    <br>
                    Si se produce una vacante te avisaremos inmediatamente a tu cuenta de correo electrónico
                    <br>
                    Agradecemos tu interés.
                </p>
            </div>
        
            <div *ngSwitchCase="error === null || error ==='LE'? error : ' ' ">
                <div *ngIf="errorLE == true">
                    <p>Lamentablemente el cupo para esta actividad se completó.<br>Podés ingresar a la lista de espera.<br><br>Muchas gracias</p>
                    <button (click)="onShowForm()">Mostrar formulario para lista de espera</button>
                </div>
                <div *ngIf="showForm">
                    <img [src]="response?.data?.headerImage" height="auto" width="100%">
                    <div class="row bk6 p-4 shadow">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bk6">
                            <div>
                                <h3 class="border-bottom title-sections pb-1" [innerHTML]="response?.data?.name"></h3>
                                <h6 class="pt-2 pb-2" [innerHTML]="response?.data?.description"></h6>
                                <p [innerHTML]="response?.data?.remarks"></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row bk6 shadow" *ngIf="showForm">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bk6">
                            <div class="col-12 col-sm-12 col-md-10 offset-md-1">
                                <div *ngFor="let item of fields">
                                    <dynamic-component
                                    [data]="item" 
                                    [parentGroup]="form"
                                    (onChangeComponent)="changeEmit($event)"
                                    >
                                    </dynamic-component>
                                </div>
                                <div class="form-group recaptcha col-sm-6">
                                    <re-captcha (resolved)="resolved($event)" siteKey="{{siteKey}}"></re-captcha>
                                </div>
                                <div class="form-group">
                                    <button [disabled]="(captcha === null || false) || !form.valid" type="button" class="btn btn-login" (click)="onClick()">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div *ngIf="messageLE">
            <p>
                Muchas gracias, ya formas parte de la lista de espera.
            </p>
        </div>
        <footer>
            <!--COPYRIGHT-->
            <div class="row shadow pt-3 bk6">
                <div class="col-sm pt-3" style="background-color:#C8C3C3; text-align: center;font-size:11px; font-weight: 700 ">
                    <p>© CPAU | Consejo Profesional de Arquitectura y Urbanismo - 25 de Mayo 482 - (C1002ABJ) CABA - Tel: +54 (11) 5239.9401 - Atención: Lunes a Viernes de 9 a 17 horas.</p>
                </div>
            </div>
            <!--FIN COPYRIGHT-->
            <!--FIN PIE-->
        </footer>
    </div>
</div>