<div class="form">
    <div class="container p-5">
        <!--Fila Logo-->
        <div class="row bk6 p-4 shadow" style="border-top: 4px solid #000;">
            <!--Columna Logo-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <a href="#" target="_self" title="CPAU | Consejo Profesional de Arquitectura y Urbanismo">
                    <figure><img src={{fields?.headerImage}} width="35%;" height="auto" alt="CPAU | Consejo Profesional de Arquitectura y Urbanismo" /></figure>
                </a>
            </div>
            <!--Columna Logo: fin-->
        </div>
        <!--Fila Logo: fin-->
        <ng-container [ngSwitch]="error">
            <div *ngSwitchCase="'YISC'">
                <p>Usted ya se encuentra registrado en esta inscripción.</p>
            </div>
            <div *ngSwitchCase="'NVNP'">
                <p>El formulario no se encuentra disponible.</p>
            </div>
            <div *ngSwitchCase="'CL'">
                <p>Lamentablemente el cupo para esta actividad se completó.</p>
            </div>
            <div *ngSwitchCase="'YISCLE'">
                <p>
                    Muchas gracias, ya formás parte de la lista de espera
                    <br>
                    Si se produce una vacante te avisaremos inmediatamente a tu cuenta de correo electrónico
                    <br>
                    Agradecemos tu interés.
                </p>
            </div>
            <div *ngSwitchCase="'LE'">
                <p>Lamentablemente el cupo para esta actividad se completó.<br>Podés ingresar a la lista de espera.<br><br>Muchas gracias</p>
                <!-- TODO AGREGAR BOTON -->
            </div>
        
            <div *ngSwitchCase="null">
                <div class="row bk6 p-4 shadow">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bk6">
                        <div>
                            <h6 class="border-bottom title-sections pb-1">{{fields?.name}}</h6>
                            <h1 class="pt-2 pb-2"> {{fields?.description}}</h1>
                            <p>{{fields?.remarks}}</p>
                        </div>
                    </div>
                </div>
                
                <div class="row bk6 shadow ">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bk6">
                        <div class="col-12 col-sm-12 col-md-8 offset-md-2">
                            <form [formGroup]="form">
                                <app-form-group 
                                *ngFor="let field of fields"
                                [field]="field"
                                [form]="form"
                                >                           
                            </app-form-group>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-login" (click)="onClick()">Enviar</button>
                </div>
                
            </div>
        </ng-container>
        <footer>
            <!--COPYRIGHT-->
            <div class="row shadow pt-3 bk6">
                <div class="col-sm pt-3" style="background-color:#C8C3C3; text-align: center;font-size:11px; font-weight: 700 ">
                    <p>© CPAU | Consejo Profesional de Arquitectura y Urbanismo - 25 de Mayo 482 - (C1002ABJ) CABA - Tel: +54 (11) 5239.9401 - Atención: Lunes a Viernes de 9 a 17 horas.</p>
                </div>
            </div>
            <!--FIN COPYRIGHT-->
            <!--FIN PIE-->
        </footer>
    </div>
</div>