<div class="modal-dialog pagar-boleta">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">Pagar derecho anual</h3>
            <!-- <button type="button" class="close" (click)="cerrar.emit()" >&times;</button> -->
        </div>
        <div class="modal-body">
            <div  *ngIf="!isProcessing">
                <label class="control-label" style="font-weight: bold">Seleccioná el modo de pago:</label><br />
                <div class="control-group" style="margin-left: 20px;">
                    <input type="radio" (click)="limpiarCuotas()" id="credito" value="credito" name="tipotarjeta" [(ngModel)]="tipotarjeta"/>&nbsp;Tarjeta de Crédito&nbsp;&nbsp;
                    <input type="radio" id="debito" value="debito" name="tipotarjeta" [(ngModel)]="tipotarjeta" />&nbsp;Tarjeta de Débito&nbsp;&nbsp;
                    <input type="radio" id="boleta" value="boleta" name="tipotarjeta" [(ngModel)]="tipotarjeta" />&nbsp;Boleta Bancaria&nbsp;&nbsp;
                </div>
                <br />
                <label *ngIf="tipotarjeta == 'credito'" class="control-label" for="cuotas">Elegí la cantidad de cuotas:</label>
                <div class="control-group" *ngIf="tipotarjeta == 'credito'" style="margin-left: 20px;">
                    <span *ngFor="let cuota of listadoCuotas">
                        <input type="radio" value="{{ cuota }}" name="cuotas" [(ngModel)]="cuotas">&nbsp;{{ cuota }} (sin interés)<br>
                    </span> 
                    <br>                   
                </div>
                
                <label *ngIf="tipotarjeta == 'boleta'" class="control-label">Imprimí tu boleta:</label>
                <div class="control-group" *ngIf="tipotarjeta == 'boleta'">
                    <br>
                    <div class="alert alert-warning">
                        <strong>¡Atención!</strong><br>
                        Esta boleta la tendrás vigente para abonar en cualquier sede del Banco Macro o Hipotecario por un término de 7 días.<br>
                        Para imprimirla tenés que tildar el casillero que figura a continuación.<br>
                    </div>
                    <div style="margin-left: 2px;"><input type="checkbox" [(ngModel)]="vigenciaboleta">&nbsp; &nbsp;Leí el plazo valido de vigencia de la boleta<br><br></div>
                    <button class="btn btn-primary" [disabled]="!vigenciaboleta" (click)="imprimirBoleta();cerrar.emit();">Imprimir Boleta</button>
                </div>
                
                <div class="control-group" *ngIf="(tipotarjeta == 'credito' && cuotas) || tipotarjeta == 'debito'">
                    <label class="control-label" for="cuotas">Clickeá sobre la tarjeta con la que querés abonar:</label>
                    <div *ngIf="tipotarjeta == 'credito'" style="display: flex; margin-left: 20px;" class="text-center">
                        <span style="margin-right: 1%;">
                            <div (click)="select('15')">
                                <!-- 15 produccion , 20 test -->
                                <img width="128" [src]="'https://static.cpau.org/.newsite/images/perfil/tarjetas/mastercard.svg'" alt="MasterCard" style="cursor: pointer;" />
                            </div>
                        </span> 
                        <span style="margin-right: 1%;">
                            <div (click)="select('6')">
                                <img width="128" [src]="'https://static.cpau.org/.newsite/images/perfil/tarjetas/american_express.svg'" alt="American Express" style="cursor: pointer;" />
                            </div>
                        </span>
                        <span style="margin-right: 1%;">
                            <div (click)="select('1')">
                                <img width="128" [src]="'https://static.cpau.org/.newsite/images/perfil/tarjetas/visa.svg'" alt="Visa" style="cursor: pointer;" />
                            </div>
                        </span>
                    </div>
                    <div *ngIf="tipotarjeta == 'debito'" style="margin-bottom: 10px;display: flex; margin-left: 20px;" class="text-center">
                        <span style="margin-right: 1%;">
                            <div (click)="select('106')">
                                <img width="128" [src]="'https://static.cpau.org/.newsite/images/perfil/tarjetas/maestro.svg'" alt="Maestro" style="cursor: pointer;" />
                            </div>
                        </span>
                        <span style="margin-right: 1%;">
                            <div (click)="select('31')">
                                <img width="128" [src]="'https://static.cpau.org/.newsite/images/perfil/tarjetas/visa-electron.svg'" alt="Visa Débito" style="cursor: pointer;" />
                            </div>
                        </span>
                    </div>
                </div>
            </div>
           
            <div style="width: 400px; height: 324px; text-align: center;" *ngIf="isProcessing">
                <p style="vertical-align: middle;">Por favor espere, se está procesando la operación.</p>
            </div>
        </div>
        <div class="alert alert-warning" *ngIf="showMensajeDomicilio" style="margin: 15px;">
            No podemos completar el pago de tu derecho anual, es necesario que tengas declarado un domicilio particular. <a href="/gestion/home/perfil/domicilio">Ir a domicilios</a> 
        </div>
        <div class="modal-footer">
			<button  type="button" class="btn btn-dark" style="background-color: black;" (click)="cerrar.emit()" >Cancelar</button>
        </div>
    </div>
</div>