@import './../../gestion.css';
.footer {
    border-top: 1px solid #e7eaec;
    bottom: 0;
    padding: 10px 20px;
    position: absolute;
    width: 100%;
    right: auto;
}
.footer-redes i{
    font-size: 18px;
}
.footer-redes a {
    margin-right: 2%;
}