<footer>
    <!--PIE-->
    <div class="row footer">
        <!--COPYRIGHT-->
        <div class="col-sm-6 text-left">
            <strong>Copyright: </strong><a href="http://ly.cpau.org/cpauorg" target="_blank" class="link">CPAU | Consejo Profesional de Arquitectura y Urbasnismo</a> © 2016
        </div>
        <!--FIN COPYRIGHT-->
        <div class="col-sm-2"></div>
        <!--Columna Redes-->
        <div class="col-4 col-sm-4 col-md-4 col-lg-2 col-xl-2 pr-0 redes-header text-right">
            <ul class="redes">
                <li><a href="http://ly.cpau.org/facebook-cpauorg" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="http://ly.cpau.org/googleplus-cpauorg" target="_blank" title="Google+"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="http://ly.cpau.org/linkedin-cpauorg" target="_blank" title="Linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="http://ly.cpau.org/twitter-cpauorg" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="http://ly.cpau.org/flickr-cpauorg" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a></li>
                <li><a href="http://ly.cpau.org/instagram-cpauorg" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                <li><a href="http://ly.cpau.org/vimeo-cpauorg" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i></a></li>
                <li><a href="http://ly.cpau.org/rss-cpauorg-noticias" target="_blank" title="RSS"><i class="fa fa-rss-square"></i></a></li>
            </ul>
        </div>
        <!--Columna Redes:fin-->
        
    </div>
    <!--FIN PIE-->
</footer>