<footer>
    <!--PIE-->
    <div class="footer">
        <!--Columna Redes-->
        <div class="pull-right footer-redes text-right">
            <a href="https://www.instagram.com/cpauorg" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
            <a href="https://www.facebook.com/cpauorg" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/company/cpau-consejo-profesional-de-arquitectura-y-urbanismo" target="_blank" title="Linkedin"><i class="fa fa-linkedin-square"></i></a>
            <a href="https://www.twitter.com/cpauorg" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
            <a href="https://www.pinterest.com/cpauorg" target="_blank" title="Pinterest"><i class="fa fa-pinterest-square"></i></a>
            <a href="http://www.flickr.com/cpauorg" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a>
            <a href="http://www.youtube.com/cpauorg" target="_blank" title="Youtube"><i class="fa fa-youtube-square"></i></a>
        </div>
        <!--Columna Redes:fin-->
        <!--COPYRIGHT-->
        <div class="text-left">
            
                <a href="https://cpau.org/Terminos-y-condiciones" target="_blank" class="link">Términos y condiciones</a>
              | <a href="https://cpau.org/Normativa-de-confidencialidad" target="_blank" class="link">Normativa de confidencialidad</a>
              | <strong>Copyright: </strong> <a href="https://cpau.org/" target="_blank" class="link">CPAU | Consejo Profesional de Arquitectura y Urbanismo</a>
               © <span>{{ year }}</span>
        </div>
        <!--FIN COPYRIGHT-->
    </div>
    <!--FIN PIE-->
</footer>