<!--Breadcump-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <div class="row title-breadcump">
            <div class="col-sm-8 row btn-sync">
                <h2>Detalles</h2>
            </div>
            <div class="col-sm-4 text-right  btn-sync">
                <button class="btn-question"><a [href]="urlHelp" target="_blank" title="Ayuda"><i class="fa fa-question"></i></a></button>
                <button (click)="reload()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <ol class="breadcrumb">
            <li>
                <a>Compras on-line</a>
            </li>
            <li>
                <a [routerLink]="'/gestion/home/store/productos'">Productos</a>
            </li>
            <li class="active">
                <a><strong>Detalles</strong></a>
            </li>
        </ol>
    </div>
</div>

<!--TAB Detalles-->
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>
                        <ol class="breadcrumb">
                            <li>
                                <a (click)="onClickCategoria()">{{categoria?.nombre}}</a>
                            </li>
                            <li>
                                {{producto?.nombre}}
                            </li>
                        </ol>
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" (click)="collapsed=!collapsed">
                            <i class="fa" [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" [hidden]="collapsed">
                    <div class="container-fluid">
                        <div class="row">
                            <!-- <div class="col-lg-8 col-md-10 col-sm-12"> -->
                                <div class="card">
                                    <div class="row">
                                        <div class="col-md-12">
                                        <img src="../../../../../../stylesCustom/images/agenda/cpaufototest2.jpg" class="img-responsive" style="width:100%;">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-12">
                                            <span>ABC del Ejercicio Profesional en CABA y Jurisdicción Nacional</span>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <p><b>› Docente: </b>Arq. Irene Kalnins<br>
                                                <b>› Inicia: </b>14 de septiembre.<br>
                                                <b>› Finaliza:</b>&nbsp;26 de octubre.<br>
                                                <b>› Modalidad:</b> Asincrónica - Clases en formato PDF y actividades en foros.<br></p>
                                        </div>
                                        <div class="col-md-12 mt-2">
                                            <span class="price">$ 2.250,00</span>
                                            <form class="form-inline mt-2">
                                                <div class="form-group" [ngClass]="{'has-error':quantity.touched && quantity.errors}">
                                                    <label class="control-label mr-2"> Cantidad:</label>
                                                    <input type="number" class="form-control" min="1" [formControl]="quantity">
                                                    <p *ngIf="quantity.touched && quantity.errors?.required" class="error-message">Campo requerido</p>
                                                    <p *ngIf="quantity.touched && quantity.errors?.min" class="error-message">
                                                        La cantidad no puede ser menor a 1</p>
                                                </div>
                                            </form>
                                            <button class="btn btn-primary mt-2" (click)="onClickComprar()" [disabled]="quantity.errors">Comprar</button>
                                        </div>
                                    </div>
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                        <p>En los asesoramientos que se ofrecen en la Gerencia Técnica del CPAU se han detectado numerosas situaciones de conflicto que atraviesan los/las profesionales, sobre todo en los/as recientemente matriculados/as. La mayoría de ellas son fácilmente evitables si se aplican sencillos criterios y procesos en el ejercicio profesional. Los más importantes, conforme el<a href="https://mepa.cpau.org" target="_blank" class="keychainify-checked">&nbsp;<strong>Manual del Ejercicio Profesional del Arquitecto&nbsp;(MEPA)</strong></a>, se han recopilado en las guías que se ofrecen en este curso. Asimismo, se han agregado explicaciones sobre la ley que rige el ejercicio profesional en CABA y jurisdicción nacional, el Código de Ética &nbsp;y los códigos que rigen la construcción en el ámbito mencionado.</p>
                                        </div>
                                    </div>
                                </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FIN TAB Detalles-->
