<form [formGroup]="formGroup">
    <label for="{{field.id}}"><h6>{{field.name}}</h6><span *ngIf="field.required === true">&nbsp;*</span></label>

    <div *ngIf="field.type == 'text' || field.type == 'email' || field.type == 'password' " class="form-group">
        <input type="{{field.type}}" class="form-control" id="{{field.id}}" placeholder="{{field.value}}" formControlName="value">
    </div>

    <div *ngIf="field.type == 'label' " class="form-group">
        <label>{{field.name}}</label>
    </div>

    <div *ngIf="field.type == 'textarea' " class="form-group">
        <textarea class="form-control" id="{{field.id}}" placeholder="{{field.value}}" rows="3" formControlName="value"></textarea>
    </div>

    <div *ngIf="field.type == 'radio' " class="form-group">                               
        <div *ngFor="let option of field.options">
            <input type="{{field.type}}" id="{{option.id}}" name="{{field.id}}" formControlName="value">
            <label for="{{option.id}}">{{option.text}}</label>
            <div  *ngIf="option.allowcomments== true"> TODO ver si esta check
                <textarea class="form-control" id="{{option.id}}" placeholder="{{option.value}}" rows="3" ></textarea>
            </div>
        </div>
    </div>

    <div *ngIf="field.type == 'checkbox' " class="form-group">                               
        <div *ngFor="let option of field.options; let i=index">
            <input type="{{field.type}}" id="{{option.id}}" name="{{field.id}}" [value]="option.value" (change)="onCheckboxChange($event)">
            <label for="{{option.id}}">{{option.text}}</label>
            <div  *ngIf="option.allowcomments == true"> <!-- TODO ver si esta check -->
                <textarea class="form-control" id="{{option.id}}" placeholder="{{option.value}}" rows="3"></textarea>
            </div>
        </div>
    </div>

    <div *ngIf="field.type == 'dropdown' " class="form-group">
        <select id="{{field.id}}" name="{{field.id}}" formControlName="value" (change)="changeSelect($event)">
            <option style="display:none"></option>
            <option *ngFor="let option of field.options" id="{{option.id}}" value="{{option.value}}">{{option.text}}</option>
        </select>
    </div>
</form>