<div class="main">
    <div class="container p-5">
        <!--Fila Logo-->
        <div class="row bk6 p-4 shadow print-skip" style="border-top: 4px solid #000;">
            <!--Columna Logo-->
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                <a href="#" target="_self" title="CPAU | Consejo Profesional de Arquitectura y Urbanismo">
                    <figure><img src="stylesCustom/images/logo/logocpau.jpg" width="35%" height="auto" alt="CPAU | Consejo Profesional de Arquitectura y Urbanismo" /></figure>
                </a>
            </div>
            <!--Columna Logo: fin-->
        </div>
        <!--Fila Logo: fin-->
        <div class="row bk6 p-4 shadow">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 bk6">
                <div [innerHTML]="finalMessage"></div>
            </div>
        </div>
        <footer>
            <!--COPYRIGHT-->
            <div class="row shadow pt-3 bk6">
                <div class="col-sm pt-3" style="background-color:#C8C3C3; text-align: center;font-size:11px; font-weight: 700 ">
                    <p>© CPAU | Consejo Profesional de Arquitectura y Urbanismo - 25 de Mayo 482 - (C1002ABJ) CABA - Tel: +54 (11) 5239.9401 - Atención: Lunes a Viernes de 9 a 17 horas.</p>
                </div>
            </div>
            <!--FIN COPYRIGHT-->
            <!--FIN PIE-->
        </footer>
    </div>
</div>