<div class="parallax-container">
    <div class="container">
        <div class="form" style="background: white;">
            <div class="container" style="padding-bottom:0;">
                <div class="container" style="margin-top: 0px;">
                    <div class="header mb-3" style="padding-left: 15px; padding-right: 15px;">
                        <a href="#" target="_self" title="CPAU | Consejo Profesional de Arquitectura y Urbanismo">
                            <img src="https://static.cpau.org/.newsite/images/logo/cpau.svg" class="header-logo"
                                width="320" alt="CPAU | Consejo Profesional de Arquitectura y Urbanismo" />
                        </a>
                    </div>
                        <div class="alert-padding">
                            <div>
                                <p [innerHTML]="finalMessage"></p>
                            </div>
                        </div>
                    </div>
                <div class="row" style="margin-right:-3.2%;margin-left:-3.2%;">
                    <div class="col-sm pt-3 copyright">
                        <p style="margin-bottom:1rem;">© Consejo Profesional de Arquitectura y Urbanismo. 25 de Mayo
                            482. C1002ABJ CABA. Tel: +5411 5238 1068. Email: <a href="mailto:red@cpau.org"
                                target="_blank" class="pie">red@cpau.org</a>. Atención: lunes a viernes de 9 a 17 horas.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>