<!-- <header> -->
    <!--Fila Logo-->
    <div class="row header">
        <nav style="margin-bottom: 0">
            <div class="col-sm-3">
                <a class="navbar-minimalize minimalize-styl-2 btn" (click)="colapsarMenu.emit()"><i class="fa fa-bars"></i> </a>
            </div>
            <div class="col-sm-6">
                <!--Columna Logo-->
                <div>
                    <a [routerLink]="['/']" target="_self" title="CPAU | Consejo Profesional de Arquitectura y Urbanismo">
                        <figure><img src="https://static.cpau.org/.newsite/images/logo/cpau.svg" width="310" height="auto" alt="CPAU | Consejo Profesional de Arquitectura y Urbanismo" /></figure>
                    </a>
                </div>
            </div>

            <!--Columna Logo: fin-->
            
            <!--Columna Logout-->
            <div class="col-sm-3">
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <button type="button" class="btn btn-login btn-logout" (click)="closeSession()"><i class="fa fa-sign-out"></i>Cerrar Sesión</button>
                    </li>
                </ul>
            </div>
        </nav>
        <!--Columna Logout:fin-->
    </div>
    <!--Fila Logo: fin-->
<!-- </header> -->