@import './../../gestion.css';
.header {
    display: block;
    width: 85vw;
    margin: 0.5% 0;
}

.header .navbar-header {
    display: contents;
}
.btn-logout:hover {
    color: #FFFFFF;
    background-color: #000000;   
}
.btn-login {
    color: white;
}