@import './../../gestion.css';

.active-link {
    background-color: #293846;
    color: white;
}

.nombre-matricula {
    color:white !important;
    font-weight: 400 !important;
}

@media (max-width: 768px) {
    .hideen-sub-menu {
        display: none !important;
    }
}