<div class="modal fade show in" role="dialog" style="display:block !important;" *ngIf="mostrarPop">
    <app-pagar-boleta (cerrar)="mostrarPop=false"></app-pagar-boleta>
</div>
<!--Breadcump-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Derecho Anual</h2>
        <ol class="breadcrumb">
            <li>
                <a>Panel de control</a>
            </li>
            <li>
                <a>Matrícula</a>
            </li>
            <li class="active">
                <a><strong>Derecho Anual</strong></a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Derecho Anual</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" (click)="collapsed=!collapsed">
                            <i class="fa" [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" [hidden]="collapsed">
                    <h5>A continuación le detallaremos su estado de deuda:</h5>
                    <div class="row container-action-table">
                        <app-action-table [columnas]="columnas" [filas]="filas" [permiteEliminar]="false"
                            [permiteEditar]="false" [permiteVisualizar]="false" [mostrarTotal]="true">
                        </app-action-table>
                    </div>
                    <div class="actions-buttons">
                        <button class="btn btn-success" (click)="onPagarDerechoAnual()">Pagar derecho anual</button>
                        <button class="btn btn-primary" (click)="onGenerarBoletaPago()">Generar boleta de pago</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>