<body>
  <!--CONTENEDOR-->
  <div class="container pt-4 ficha">
    <app-header-home></app-header-home>

    <app-button-home></app-button-home>
    <div class="row" *ngIf="data">
      <!--Tittle-->
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h6 class="border-bottom title-sections pb-1">
          <a title="FICHA TÉCNICA ">FICHA TÉCNICA</a>
        </h6>
        <div class="container p-0 pt-2 pb-5">
          <!--Nota-->

          <div class="row">
            <div class="col-12 col-sm-12 col-md-7 offset-md-2">
              <div class="row">
                <div class="col-sm-4">
                  <img alt="image"
                      class="img"
                      [src]="imgSrc"
                      onerror="this.src='stylesCustom/images/fas-fa-user-circle.svg'"
                      width="100%">
                </div>
                <div class="col-sm-8">
                  <table width="100%" border-width="0" cellspacing="0" cellpadding="0">

                    <tr>
                      <td colspan="3" width="100%" style="
                            font-weight: bold;
                            border-top: #3400ff solid 1px;
                            border-bottom: #3400ff solid 1px;
                            padding: 10px 0px 10px 5px;
                            background: #f8f8f8;
                          ">
                        Información registrada
                      </td>
                    </tr>

                    <tr width="100%">
                      <td class="textotabla" width="30%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px;padding: 8px 0px 8px 5px;font-weight: 500; ">
                        Nombre y apellido:
                      </td>
                      <td colspan="3" class="textotabla" width="70%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px;">
                        {{ data?.nombre }}
                      </td>
                    </tr>
                    <tr>
                      <td class="textotabla" width="30%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px;padding: 8px 0px 8px 5px;font-weight: 500; ">
                        Matrícula:
                      </td>
                      <td colspan="3" class="textotabla" width="70%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px;">
                        {{ data?.matriculaTipo }} - {{ data?.matricula }}
                      </td>
                    </tr>
                    <tr>
                      <td class="textotabla" width="30%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px;padding: 8px 0px 8px 5px;font-weight: 500; ">
                        Estado:
                      </td>
                      <td colspan="3" class="textotabla" width="70%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px;">
                        {{ data?.estado }}
                      </td>
                    </tr>
                    <tr>
                      <td class="textotabla" width="30%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px;padding: 8px 0px 8px 5px;font-weight: 500; ">
                        Fecha de matriculación:
                      </td>
                      <td colspan="3" class="textotabla" width="70%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px; ">
                        {{ data?.fechaMatricula }}
                      </td>
                    </tr>
                    <tr width="100%">
                      <td class="textotabla" width="30%"
                        style="border-bottom:#e7e7e7 solid 1px;padding: 8px 0px 8px 5px;font-weight: 500; ">
                        Universidad:
                      </td>
                      <td colspan="3" class="textotabla" width="70%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px; ">
                        {{ data?.universidad }}
                      </td>
                    </tr>
                    <tr width="100%" class="web" *ngIf="website">
                      <td class="textotabla" width="30%"
                        style="border-bottom:#e7e7e7 solid 1px;padding: 8px 0px 8px 5px;font-weight: 500; ">
                        Web:
                      </td>
                      <td colspan="3" class="textotabla" width="70%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px; ">
                        <a [href]="website">{{ website }}</a>
                      </td>
                    </tr>
                    <tr width="100%" *ngIf="data && data.redes.length > 0">
                      <td class="textotabla" width="30%"
                        style="border-bottom:#e7e7e7 solid 1px;padding: 8px 0px 8px 5px;font-weight: 500; ">
                        Redes:
                      </td>
                      <td colspan="3" class="textotabla td-redes" width="70%"
                        style="solid 1px; border-bottom:#e7e7e7 solid 1px; ">
                          <!--Columna Redes-->
                          <div class="col-6 col-sm-6 col-md-6 col-lg-2 col-xl-2 pr-0 redes-header" style="padding-left: 0px;">
                            <ul class="redes">
                                <li *ngFor="let r of data.redes">
                                  <a *ngIf="+r.data2 == 1" [href]="r.data1" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a>
                                  <a *ngIf="+r.data2 == 2" [href]="r.data1" target="_blank" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                                  <a *ngIf="+r.data2 == 3" [href]="r.data1" target="_blank" title="Linkedin"><i class="fa fa-linkedin-square"></i></a>
                                  <a *ngIf="+r.data2 == 4" [href]="r.data1" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
                                  <a *ngIf="+r.data2 == 5" [href]="r.data1" target="_blank" title="Pinterest"><i class="fa fa-pinterest-square"></i></a>
                                  <a *ngIf="+r.data2 == 6" [href]="r.data1" target="_blank" title="Flickr"><i class="fa fa-flickr"></i></a>
                                  <a *ngIf="+r.data2 == 7" [href]="r.data1" target="_blank" title="Vimeo"><i class="fa fa-vimeo-square"></i></a>
                                  <a *ngIf="+r.data2 == 8" [href]="r.data1" target="_blank" title="Youtube"><i class="fa fa-youtube-square"></i></a>
                                  <a *ngIf="+r.data2 == 9" [href]="r.data1" target="_blank" title="Behance"><i class="fa fa-behance-square"></i></a>
                                </li>
                            </ul>
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <br>
              <div class="row" *ngIf="data && data.actividades.length > 0">
                <div class="col-sm-12">
                  <table width="100%" border-width="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td colspan="3" width="100%" style="
                            font-weight: bold;
                            border-top: #3400ff solid 1px;
                            border-bottom: #3400ff solid 1px;
                            padding: 10px 0px 10px 5px;
                            background: #f8f8f8;
                          ">
                        Actividades profesionales
                      </td>
                    </tr>
                    <tr *ngFor="let actividad of data?.actividades"  width="100%">
                      <td colspan="3" class="textotabla" width="100%" style="solid 1px; border-bottom:#e7e7e7 solid 1px;">
                        {{ actividad.nombre }}
                      </td>
                    </tr>
    
                  </table>
                </div>
              </div>
              <br>
              
              <div class="row" *ngIf="data && data.cursos.length > 0">
                <div class="col-sm-12">
                  <table width="100%" border-width="0" cellspacing="0" cellpadding="0">

                <tr  width="100%">
                  <td colspan="3" width="100%" style="
                        font-weight: bold;
                        border-top: #3400ff solid 1px;
                        border-bottom: #3400ff solid 1px;
                        padding: 10px 0px 10px 5px;
                        background: #f8f8f8;
                      ">
                    Cursos
                  </td>
                </tr>

                <tr *ngFor="let curso of data?.cursos">
                  <td colspan="3" class="textotabla" width="70%" style="solid 1px; border-bottom:#e7e7e7 solid 1px;">
                    {{ curso.nombre }} - {{ curso.institucion}}{{curso.universidad}}
                  </td>
                </tr>
              </table>
                </div>
              </div>
              <br>
              
              <div class="row" *ngIf="data && data.postgrados.length > 0">
                <div class="col-sm-12">
                  <table width="100%" border-width="0" cellspacing="0" cellpadding="0">

                    <tr>
                      <td colspan="3" width="100%" style="
                            font-weight: bold;
                            border-top: #3400ff solid 1px;
                            border-bottom: #3400ff solid 1px;
                            padding: 10px 0px 10px 5px;
                            background: #f8f8f8;
                          ">
                        Postgrados
                      </td>
                    </tr>

                    <tr *ngFor="let postgrado of data?.postgrados">
                      <td colspan="3" class="textotabla" width="70%" style="solid 1px; border-bottom:#e7e7e7 solid 1px;">
                        {{ postgrado.nombre }} - {{ postgrado.institucion}}{{postgrado.universidad}}
                      </td>
                    </tr>
                  </table>
              </div>
              </div>

              <br>
              <div class="row" *ngIf="data && data.obrasDestino.length > 0">
                <div class="col-sm-12">
                  <table width="100%" border-width="0" cellspacing="0" cellpadding="0">
              
                    <tr>
                      <td colspan="3" width="100%" style="
                            font-weight: bold;
                            border-top: #3400ff solid 1px;
                            border-bottom: #3400ff solid 1px;
                            padding: 10px 0px 10px 5px;
                            background: #f8f8f8;
                          ">
                        Experiencia
                      </td>
                    </tr>
                    <tr *ngFor="let obraDestino of data?.obrasDestino">
                      <td colspan="3" class="textotabla" width="70%" style="solid 1px; border-bottom:#e7e7e7 solid 1px;">
                        {{ obraDestino.nombre }}
                      </td>
                    </tr>

                  </table>
              </div>
              </div>
              <div class="row pt-5">
                <div class="col-md-4">
                  <button class="btn btn-secondary btn-lg rounded-0" type="submit " (click)="back()">
                    Volver
                  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-secondary btn-lg rounded-0" [disabled]="!archivo" (click)="downloadCV()">
                    <i class="fa fa-search"></i> Ver CV
                  </button>
                </div>
                <div class="col-md-4">
                  <button class="btn btn-secondary btn-lg rounded-0" type="submit"
                    [routerLink]="['/profesional/contacto/', data?.guid]">
                    Contactar
                  </button>
                </div>
              </div>
            </div>
          </div>

          <!--FIN TITULO-->
        </div>

        <!--FIN NOTICIAS-->
      </div>
    </div>
    <app-publicity-home></app-publicity-home>
    <app-footer></app-footer>
  </div>
  <!--CONTENEDOR: FIN	-->
</body>