<!--TAB CONTRASEÑA-->
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Contraseña</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" (click)="collapsed=!collapsed">
                            <i class="fa" [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" [hidden]="collapsed">
                    <form method="get" class="form-horizontal" [formGroup]="contraseniaForm">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">

                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Contraseña Actual:</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" formControlName="passwordActual"
                                            maxlength="30" placeholder="Contraseña Actual">
                                        <form-error [errors]="contraseniaForm.controls.passwordActual.errors"
                                            [errorsMessages]="{
                                              required: 'Campo Requerido',
                                              minlength: 'La longitud debe ser mayor a 6 caracteres',
                                              maxlength: 'La longitud debe ser menor a 30 caracteres'
                                            }" [controlTouched]="contraseniaForm.controls.passwordActual.touched">
                                        </form-error>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">

                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Nueva Contraseña:</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" formControlName="nuevaPassword"
                                            maxlength="30" placeholder="Nueva Contraseña">
                                        <form-error [errors]="contraseniaForm.controls.nuevaPassword.errors"
                                            [errorsMessages]="{
                                              required: 'Campo Requerido',
                                              minlength: 'La longitud debe ser mayor a 6 caracteres',
                                              maxlength: 'La longitud debe ser menor a 30 caracteres'
                                            }" [controlTouched]="contraseniaForm.controls.nuevaPassword.touched">
                                        </form-error>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">

                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Repite Nueva Contraseña:</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" formControlName="repiteNuevaPassword"
                                            maxlength="30" placeholder="Repite Nueva Contraseña">
                                        <form-error [errors]="contraseniaForm.controls.repiteNuevaPassword.errors"
                                            [errorsMessages]="{
                                              required: 'Campo Requerido',
                                              minlength: 'La longitud debe ser mayor a 6 caracteres',
                                              maxlength: 'La longitud debe ser menor a 30 caracteres',
                                              notEquals: 'Las contraseñas no coinciden'
                                            }" [controlTouched]="contraseniaForm.controls.repiteNuevaPassword.touched">
                                        </form-error>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="actions-buttons col-sm-offset-8 col-sm-4 text-right">
                                <button class="btn btn-primary" (click)="onSave()">Guardar</button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--FIN TAB CONTRASEÑA-->

</div>