<!--TAB CONTRASEÑA-->
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <div class="row title-breadcump">
            <div class="col-sm-8 row btn-sync">
                <h2>Contraseña</h2>
            </div>
            <div class="col-sm-4 text-right  btn-sync">
                <button class="btn-question"><a [href]="urlHelp" target="_blank" title="Ayuda"><i class="fa fa-question"></i></a></button>
            </div>
        </div>
        <ol class="breadcrumb">
            <li>
                <a>Seguridad</a>
            </li>
            <li class="active">
                <a><strong>Contraseña</strong></a>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Contraseña</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link" (click)="collapsed=!collapsed">
                            <i class="fa" [ngClass]="{'fa-chevron-down': !collapsed, 'fa-chevron-up': collapsed}"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content" [hidden]="collapsed">
                    <form method="get" class="form-horizontal" [formGroup]="contraseniaForm">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">

                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Contraseña actual:</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" formControlName="passwordActual"
                                            maxlength="30" placeholder="Contraseña actual">
                                        <form-error [errors]="contraseniaForm.controls.passwordActual.errors"
                                            [errorsMessages]="{
                                              required: 'Campo requerido',
                                              minlength: 'La longitud debe ser mayor a 6 caracteres',
                                              maxlength: 'La longitud debe ser menor a 30 caracteres'
                                            }" [controlTouched]="contraseniaForm.controls.passwordActual.touched">
                                        </form-error>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">

                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Nueva contraseña:</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" formControlName="nuevaPassword"
                                            maxlength="30" placeholder="Nueva contraseña">
                                        <form-error [errors]="contraseniaForm.controls.nuevaPassword.errors"
                                            [errorsMessages]="{
                                              required: 'Campo requerido',
                                              minlength: 'La longitud debe ser mayor a 6 caracteres',
                                              maxlength: 'La longitud debe ser menor a 30 caracteres'
                                            }" [controlTouched]="contraseniaForm.controls.nuevaPassword.touched">
                                        </form-error>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-1">

                                <div class="form-group">
                                    <label class="col-sm-6 control-label">Repetí la nueva contraseña:</label>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control" formControlName="repiteNuevaPassword"
                                            maxlength="30" placeholder="Repetí la nueva contraseña">
                                        <form-error [errors]="contraseniaForm.controls.repiteNuevaPassword.errors"
                                            [errorsMessages]="{
                                              required: 'Campo requerido',
                                              minlength: 'La longitud debe ser mayor a 6 caracteres',
                                              maxlength: 'La longitud debe ser menor a 30 caracteres',
                                              notEquals: 'Las contraseñas no coinciden'
                                            }" [controlTouched]="contraseniaForm.controls.repiteNuevaPassword.touched">
                                        </form-error>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="actions-buttons col-sm-offset-8 col-sm-4 text-right">
                                <button [disabled]="loading"
                                        class="btn btn-primary"
                                        (click)="onSave()">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    Guardar
                                </button>
                            </div>
                        </div>

                    </form>
                </div>

            </div>
        </div>
    </div>
    <!--FIN TAB CONTRASEÑA-->

</div>