<h6 *ngIf="breadCrumb?.length == 1" class="border-bottom title-sections pb-1">
    <a *ngFor="let bc of breadCrumb" target="_self" href=" #" title="{{bc | uppercase}}">{{bc | uppercase}}
    </a>
</h6>

<nav aria-label="breadcrumb" *ngIf="breadCrumb?.length > 1">
    <ol class="breadcrumb">
        <li *ngFor="let bc of breadCrumb; let last = last;" class="{{last ? 'breadcrumb-item active' : 'breadcrumb-item'}}" title="{{bc | uppercase}}">{{bc | uppercase}}</li>
    </ol>
</nav>

<div *ngIf="data; else loadingBlockNews" class="container p-0 pt-2 pb-5">

    <!--Articles-->
    <section>
        <div class="row">
            <input type="radio" id="todos" name="categories" value="todos" checked>
            <input type="radio" id="hoy" name="categories" value="hoy">
            <input type="radio" id="semana" name="categories" value="semana">
            <input type="radio" id="mes" name="categories" value="mes">
            <input type="radio" id="ano" name="categories" value="ano">
            <input type="radio" id="{{currentTag | uppercase}}" name="categories" value="{{currentTag | uppercase}}" *ngFor="let currentTag of data.tags">
            <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 flitrosagenda">
                <ol>
                    <li>
                        <label (click)="onSelectTag('todos')" for="todos" title="TODOS">TODOS</label>
                    </li>
                    <li *ngFor="let currentTag of data.tags">
                        <label for="#{{currentTag}}" (click)="onSelectTag('#' + currentTag)" title="{{currentTag | uppercase }}">{{currentTag | uppercase }}</label>
                    </li>
                </ol>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9 posts ">
                <ul class="list-unstyled">
                    <li *ngFor="let item of destacado" class="post" [attr.data-category]="item.categoryData">
                        <div class="row">
                            <!--Tittle-->
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 ">
                                <div class="container p-0 pt-2 pb-5">
                                    <!--Nota-->
                                    <div class="row">
                                        <div class="col-12 col-sm-12 col-md-12 articleCss">
                                            <article>
                                                <figure *ngIf="item?.image">
                                                    <img class="img-fluid imagen" src="https://static.cpau.org{{item?.image?.imageUrl}}" alt="{{item?.image?.title}}" />
                                                    <figcaption>{{item?.image?.epigraph}}</figcaption>
                                                </figure>
                                                <!--Foto:fin-->
                                                <!--Nota - Titulo -->
                                                <h1>{{item.title}}</h1>
                                                <!--Nota - Titulo:fin -->
                                                <!--Nota - Resumen -->
                                                <h6 [innerHTML]="item.summary" class="resumen"> </h6>
                                                <!--Nota - Resumen: fin -->
                                                <!--Nota - Contenido -->
                                                <div [innerHTML]="item?.text"></div>
                                            </article>
                                        </div>
                                    </div>
                                    <!--Nota: Fin-->
                                </div>
                            </div>
                            <!--FIN TITULO-->
                        </div>
                    </li>
                            <div class="row">
                            <li *ngFor="let item of noDestacado" class="post col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 " data-category="hoy">
                                <figure>
                                    <a href="#" title="Be.ar Render">
                                        <img class="img-fluid imagen-beneficio" src="https://static.cpau.org{{item?.image?.imageUrl}}" alt="{{item.image?.title}}" />
                                    </a>
                                </figure>
                                <div *ngIf="item.percent" class="badge badge-primary">{{item.percent}}%</div>
                                <div>
                                    <p>&nbsp;</p>
                                </div>
                                <h4>{{item.title}}</h4>
                                <div class="beneficio-txt" [innerHTML]="item.summary">
                                </div>
                                <div class="caplik">
                                    <a *ngIf="item.link" href="{{item.link}}" target="_self" title="{{item.title}}">+ INFO</a>
                                    <a *ngIf="!item.link" [routerLink]="['/nota', item.id]" target="_self" title="{{item.title}}">+ INFO</a>

                                </div>
                            </li>
                        </div>
                        <p>&nbsp;</p>
                        <div *ngIf="data.contactName" class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8 pb-5 ">
                                <div>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Contacto</th>
                                                <th>&nbsp;</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>{{data.contactName}}</td>
                                                <td>{{data.contactEmail}}</td>
                                                <td>{{data.contactTel}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <div [innerHTML]="data.policy"> </div>
                            </div>
                        </div>
                        <div class="row" *ngFor="let item of data.childLists">
                            <a *ngIf="item.link.includes('http') || item.link.includes('www')" class="caplik" href="{{item.link}}">
                                <h4>{{item.name}}</h4>
                            </a>
                            <a *ngIf="!item.link.includes('http') && !item.link.includes('www')" class="caplik" [routerLink]="['/', item.link]">
                                <h4>{{item.name}}</h4>
                            </a>
                        </div>
                    
                </ul>
            </div>
        </div>
    </section>
    <!--Articles:fin-->

</div>

<ng-template #loadingBlockNews>
    <div class="container p-0 pt-2 pb-5 align-self-center ">
        <div class="loader ">Loading...</div>
    </div>
</ng-template>