<div class="form-group">
    <div class="container"><div class="row">
        <div>
            <label><h6>{{allData.name}}</h6><span *ngIf="allData.required === true">&nbsp;*</span></label>
        </div>
        <div *ngIf="parentGroup.controls[id].invalid && (parentGroup.controls[id].dirty || parentGroup.controls[id].touched)">
            <small
                class="form alert-warning ml-1"
                *ngIf="parentGroup?.controls[id].errors.required"
                [hidden]='!parentGroup?.controls[id].errors && !parentGroup?.controls[id].errors.required'>
                Dato obligatorio
            </small>
        </div>
    </div></div>
    <div *ngFor="let option of allData.options" class="col-sm-6">
        <input 
            type="checkbox" 
            id="{{option.id}}" 
            name="{{option.id}}" 
            [checked]="isSelected(option)" 
            (click)="onItemClick(option)"
        >
        <label class="ml-1" for="{{option.id}}">{{option.text}}</label>
        <div *ngIf="option.allowcomments == true && isSelected(option)">
            <textarea class="form-control mb-1" rows="3" (blur)="onBlur($event, option.id)"></textarea>
        </div>
    </div>
</div>