<div class="row" *ngIf="!allData.disabled">
    <div class="col-md-12">
        <label class="headersmalltext">{{allData.name}}<span *ngIf="allData.required === true">&nbsp;*</span></label>
        <div *ngIf="parentGroup.controls[id].invalid && (parentGroup.controls[id].dirty || parentGroup.controls[id].touched)" style="display: inline;">
            <small
                class="alert-warning ml-1"
                *ngIf="parentGroup?.controls[id].errors.required"
                [hidden]='!parentGroup?.controls[id].errors && !parentGroup?.controls[id].errors.required'>
                Dato obligatorio
            </small>
        </div>
        <div style="margin-top: 5px;">
            <div *ngFor="let option of allData.options" class="row">
                <div class="col-md-12">
                    <div class="custom-ctrl">
                        <input 
                            type="checkbox"
                            class="rounded-0"
                            id="{{option.id}}" 
                            name="{{option.id}}" 
                            [checked]="isSelected(option)" 
                            (click)="onItemClick(option)"
                        >
                        <label style="font-size: 12px;font-weight: normal;display: inline;margin-left: 4px;" for="{{option.id}}">{{option.text}}</label>
                        <div *ngIf="option.allowcomments == true && isSelected(option)">
                            <textarea class="form-control" style="margin-top:5px!important; margin-bottom: 5px;" (blur)="onBlur($event, option.id)"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>